.xxmEditMode .xxmSprite {
    cursor: pointer;
    overflow: hidden;
}

.xxmEditMode .xxmSpriteInternal {
    pointer-events: none;
}

.xxmEditMode .xxmSprite:after {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    --shadowColor: rgba(255, 255, 255, 0.7);
    box-shadow: inset 3px 3px 0 var(--shadowColor),
        inset -3px -3px 0 var(--shadowColor);
}

.xxmEditMode .xxmSprite:hover {
    overflow: visible;
}

.xxmEditMode .xxmSprite:hover .xxmSpriteInternal {
    filter: hue-rotate(90deg);
}

.xxmEditMode .xxmSprite:hover:after {
    --shadowColor: rgba(0, 0, 0, 0.5);
}
