body {
    display: flex;

    align-items: center;
    justify-content: center;

    background-image: url('../data/bg.png');
}

.xxm {
    box-sizing: content-box;

    border: 10px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    transition: transform ease-out 0.5s;
}

.xxmBoard {
    transform: perspective(200px) rotateX(10deg);
}

.margin-shake {
    animation-name: margin-shake;
}

@keyframes margin-shake {
    from, to {
        margin: 0;
    }

    10%, 30%, 50%, 70%, 90% {
        margin-left: -10px;
        margin-right: 0;
    }

    20%, 40%, 60%, 80% {
        margin-left: 0;
        margin-right: -10px;
    }
}
