* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;

    overflow: hidden;
}

.xxm {
    position: relative;
    width: var(--xxmw);
    height: var(--xxmh);
}

.xxmZoom {
    zoom: 2;
}
