.xxmSprite {
    position: absolute;

    left: calc(var(--x) * var(--tw) - var(--ox));
    top: calc(var(--y) * var(--th) - var(--oy));

    width: var(--ssfw);
    height: var(--ssfh);

    overflow: hidden;
}

.xxmSprite {
    background-image: var(--spriteUrl);
    background-position-x: 0;
    background-position-y: calc(var(--ssy) * var(--ssfh));
}

@keyframes frames {
    to {
        background-position-x: calc(-1 * var(--ssfc) * var(--ssfw));
    }
}

.xxmSprite.xxmAnimate {
    animation: frames steps(4, end) infinite;
    animation-duration: var(--animDuration);
    animation-delay: calc(-1 * var(--animDuration) / var(--ssfc));
}

.xxmSprite.xxmWalking {
    transition: var(--walkDuration) linear left, var(--walkDuration) linear top;
}
