.xxmSprite {
    position: absolute;

    left: calc(var(--x) * var(--tw));
    top: calc(var(--y) * var(--th));

    width: var(--tw);
    height: var(--th);
}

.xxmSpriteInternal {
    position: absolute;

    left: calc(-1 * var(--ox));
    top: calc(-1 * var(--oy));

    width: var(--ssfw);
    height: var(--ssfh);

    background-image: var(--spritesetUrl);

    background-position-x: 0;
    background-position-y: calc(var(--ssy) * var(--ssfh));
}

@keyframes frames {
    to {
        background-position-x: calc(-1 * var(--ssfc) * var(--ssfw));
    }
}

.xxmSprite.xxmAnimate .xxmSpriteInternal {
    animation: frames steps(4, end) infinite;
    animation-duration: var(--animDuration);
    animation-delay: calc(-1 * var(--animDuration) / var(--ssfc));
}

.xxmSprite.xxmWalking {
    transition: var(--walkDuration) linear left, var(--walkDuration) linear top;
}
