.xxmTilemap {
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.xxmTile {
    position: absolute;

    left: calc(var(--x) * var(--tw));
    top: calc(var(--y) * var(--th));

    width: var(--tw);
    height: var(--th);

    background-image: var(--tileset-url);
    background-position-x: calc(-1 * var(--tsx) * var(--tw));
    background-position-y: calc(-1 * var(--tsy) * var(--th));
}
