body {
    display: flex;

    align-items: center;
    justify-content: center;
}

.xxmLayers {
    width: calc(7 * var(--tw));
    height: calc(7 * var(--th));

    background-color: antiquewhite;

    border-radius: 50px;

    overflow: hidden;
}
